has_arch_gpu_intel_pvc = any('arch-intel_gpu_pvc' in T for T in config.sycl_dev_features.values())
if not has_arch_gpu_intel_pvc:
    config.unsupported_features += ['gpu']
else:
    # TRACKER for PVC + igc-dev: https://github.com/intel/llvm/issues/16401
    config.unsupported_features += ['igc-dev']

# MemorySanitizer is not currently supported for non-spir triples
config.unsupported_features  += ['target-nvidia', 'target-amd']

# TRACKER: https://github.com/intel/llvm/issues/16184
config.unsupported_features += ['gpu-intel-gen12', 'gpu-intel-dg2']

# CMPLRLLVM-64052
config.unsupported_features += ['spirv-backend']

# https://github.com/intel/llvm/issues/16920
config.unsupported_features += ['arch-intel_gpu_bmg_g21']

config.substitutions.append(
    ("%device_msan_flags", "-Xarch_device -fsanitize=memory")
)
config.substitutions.append(
    ("%force_device_msan_rt", "env UR_ENABLE_LAYERS=UR_LAYER_MSAN")
)

unsupported_san_flags = [
    "-fsanitize=address",
    # "-fsanitize=memory",
    "-fsanitize=thread",
]
if any(flag in config.cxx_flags for flag in unsupported_san_flags):
    config.unsupported=True
