# TRACKER: https://github.com/intel/llvm/issues/16184
# TRACKER for PVC: https://github.com/intel/llvm/issues/16401
#has_arch_gpu_intel_pvc = any('arch-intel_gpu_pvc' in T for T in config.sycl_dev_features.values())
#if not has_arch_gpu_intel_pvc:
config.unsupported_features += ['gpu']

config.substitutions.append(
    ("%device_msan_flags", "-Xarch_device -fsanitize=memory")
)
config.substitutions.append(
    ("%force_device_msan_rt", "env UR_ENABLE_LAYERS=UR_LAYER_MSAN")
)

if "-fsanitize=address" in config.cxx_flags:
    config.unsupported=True
