config.suffixes = ['.test']

# Mark the benchmark tests unsupported if current directory
# is not present in SYCL_EXTERNAL_TESTS
if not config.external_tests and os.path.basename(os.getcwd()) not in config.external_tests.split(';'):
  config.unsupported=True
