* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver @intel/dpcpp-clang-driver-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers
sycl/doc/extensions/SPIRV/ @intel/dpcpp-spirv-doc-reviewers

# Level Zero plugin
sycl/sycl/plugins/level_zero @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_cpu/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @tovinkere @intel/llvm-reviewers-runtime
xptifw/ @tovinkere @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/**/append-file/ @intel/dpcpp-tools-reviewers
llvm/**/file-table-tform/ @intel/dpcpp-tools-reviewers
llvm/**/llvm-foreach/ @intel/dpcpp-tools-reviewers
llvm/**/llvm-no-spir-kernel/ @intel/dpcpp-tools-reviewers
llvm/**/sycl-post-link/ @intel/dpcpp-tools-reviewers
llvm/include/llvm/Support/PropertySetIO.h @intel/dpcpp-tools-reviewers
llvm/lib/Support/PropertySetIO.cpp @intel/dpcpp-tools-reviewers
llvm/unittests/Support/PropertySetIOTest.cpp @intel/dpcpp-tools-reviewers
llvm/include/llvm/Support/SimpleTable.h @intel/dpcpp-tools-reviewers
llvm/lib/Support/SimpleTable.cpp @intel/dpcpp-tools-reviewers
llvm/unittests/Support/SimpleTableTest.cpp @intel/dpcpp-tools-reviewers
llvm/lib/Support/Base64.cpp @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-bundler/ @intel/dpcpp-tools-reviewers
clang/tools/clang-offload-wrapper/ @intel/dpcpp-tools-reviewers
clang/tools/clang-offload-deps/ @intel/dpcpp-tools-reviewers
clang/tools/clang-offload-extract/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
SYCLLowerIR/ @intel/dpcpp-esimd-reviewers
esimd/ @kbobrovs @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/experimental/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/ExplicitSIMD/ @intel/dpcpp-esimd-reviewers

# ITT annotations
llvm/lib/Transforms/Instrumentation/SPIRITTAnnotations.cpp @intel/dpcpp-tools-reviewers
llvm/include/llvm/Transforms/Instrumentation/SPIRITTAnnotations.h @intel/dpcpp-tools-reviewers
llvm/test/Transforms/SPIRITTAnnotations/* @intel/dpcpp-tools-reviewers
