*                               @oneapi-src/unified-runtime-maintain

# Level Zero adapter
source/adapters/level_zero      @oneapi-src/unified-runtime-level-zero-write

# CUDA and HIP adapters
source/adapters/cuda            @oneapi-src/unified-runtime-cuda-write
source/adapters/hip             @oneapi-src/unified-runtime-hip-write

# OpenCL adapter
source/adapters/opencl          @oneapi-src/unified-runtime-opencl-write
