* @bader

# Front-end compiler
clang/ @premanandrao @elizabethandrews @AaronBallman

# Driver
clang/**/Driver @mdtoguchi @AGindinson @hchilama

# LLVM-SPIRV translator
llvm-spirv/ @AlexeySotkin @AlexeySachkov

# OpenCL deps
opencl/ @pvchupin @vladimirlaz

# OpenCL "offline" compiler
opencl/opencl-aot/ @dm-vodopyanov @AlexeySachkov @romanovvlad

# Device library
libdevice/ @vzakhari @jinge90

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @pvchupin
sycl/doc/ @pvchupin @bader
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Sub-groups
sycl/include/CL/sycl/detail/spirv.hpp @Pennycook @AlexeySachkov
sycl/include/sycl/ext/intel/group_algorithm.hpp @Pennycook @AlexeySachkov
sycl/include/sycl/ext/intel/sub_group.hpp @Pennycook @AlexeySachkov
sycl/include/sycl/ext/intel/sub_group_host.hpp @Pennycook @AlexeySachkov

# PI API
sycl/include/CL/sycl/detail/pi.def @smaslov-intel
sycl/include/CL/sycl/detail/pi.h   @smaslov-intel
sycl/include/CL/sycl/detail/pi.hpp @smaslov-intel
sycl/include/CL/sycl/detail/pi* @smaslov-intel
sycl/plugins/ @smaslov-intel
sycl/source/detail/pi.cpp @smaslov-intel
sycl/source/detail/plugin.hpp @smaslov-intel
sycl/source/detail/posix_pi.cpp @smaslov-intel
sycl/source/detail/windows_pi.cpp @smaslov-intel

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# Stream
sycl/include/CL/sycl/detail/stream_impl.hpp @againull
sycl/include/CL/sycl/stream.hpp @againull
sycl/source/detail/stream_impl.cpp @againull
sycl/source/stream.cpp @againull

# FPGA extensions
sycl/include/sycl/ext/intel/fpga_device_selector.hpp @MrSidims
sycl/include/sycl/ext/intel/fpga_extensions.hpp @MrSidims
sycl/include/sycl/ext/intel/fpga_reg.hpp @MrSidims
sycl/include/sycl/ext/intel/pipes.hpp @MrSidims
sycl/include/CL/sycl/pipes.hpp @MrSidims

# Reduction extension
sycl/include/sycl/ext/intel/reduction.hpp @v-klochkov

# Function pointers
sycl/include/sycl/ext/intel/function_pointer.hpp @AlexeySachkov
sycl/source/function_pointer.cpp @AlexeySachkov

# Half Type
sycl/include/CL/sycl/half_type.hpp @AlexeySachkov
sycl/source/half_type.cpp @AlexeySachkov

# vec and swizzles
sycl/include/CL/sycl/swizzles.def @turinevgeny
sycl/include/CL/sycl/types.hpp @turinevgeny

# XPTI instrumentation utilities
xpti/ @tovinkere @andykaylor
xptifw/ @tovinkere  @andykaylor

# DPC++ tools
llvm/**/append-file/ @mdtoguchi @AGindinson
llvm/**/file-table-tform/ @mlychkov @AlexeySachkov @kbobrovs
llvm/**/llvm-foreach/ @AlexeySachkov  @Fznamznon
llvm/**/llvm-no-spir-kernel/ @AGindinson @AlexeySachkov
llvm/**/sycl-post-link/ @mlychkov @AlexeySachkov @kbobrovs
llvm/include/llvm/Support/PropertySetIO.h @mlychkov @AlexeySachkov @kbobrovs
llvm/lib/Support/PropertySetIO.cpp @mlychkov @AlexeySachkov @kbobrovs
llvm/unittests/Support/PropertySetIOTest.cpp @mlychkov @AlexeySachkov @kbobrovs
llvm/include/llvm/Support/SimpleTable.h @mlychkov @AlexeySachkov @kbobrovs
llvm/lib/Support/SimpleTable.cpp @mlychkov @AlexeySachkov @kbobrovs
llvm/unittests/Support/SimpleTableTest.cpp @mlychkov @AlexeySachkov @kbobrovs
llvm/lib/Support/Base64.cpp @mlychkov @AlexeySachkov @kbobrovs

# Clang offload tools
clang/tools/clang-offload-bundler/ @mlychkov @sndmitriev @AlexeySachkov
clang/tools/clang-offload-wrapper/ @mlychkov @sndmitriev @AlexeySachkov @kbobrovs
clang/tools/clang-offload-deps/ @sndmitriev @mlychkov @AlexeySachkov
clang/tools/clang-offload-extract/ @sndmitriev @mlychkov @AlexeySachkov

# Explicit SIMD
SYCLLowerIR/ @kbobrovs @DenisBakhvalov @kychendev
esimd/ @kbobrovs @DenisBakhvalov @kychendev
sycl/include/sycl/ext/intel/experimental/esimd.hpp @kbobrovs @DenisBakhvalov @kychendev
sycl/doc/extensions/ExplicitSIMD/ @kbobrovs @DenisBakhvalov @kychendev

# ITT annotations
llvm/lib/Transforms/Instrumentation/SPIRITTAnnotations.cpp @MrSidims @vzakhari
llvm/include/llvm/Transforms/Instrumentation/SPIRITTAnnotations.h @MrSidims @vzakhari
llvm/test/Transforms/SPIRITTAnnotations/* @MrSidims @vzakhari
