sphinx==8.0.2
docutils==0.21.2
sphinx-markdown-tables==0.0.17
recommonmark==0.7.1
sphinx-automodapi==0.17.0
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-applehelp==2.0.0
furo==2024.7.18
myst-parser==3.0.1
