# This feature refers to an unsupported capability in the SPIR-V Backend,
# pending triaging and identifying required features/extensions.
# Temporarily disabled until the failure is addressed:
# https://github.com/llvm/llvm-project/issues/127791
config.unsupported_features += ['spirv-backend']

# https://github.com/intel/llvm/issues/8126
config.unsupported_features += ['windows']
