# Prepending instead of appending so that `%shared_lib` is expanded before `%s`.
config.substitutions.insert(0, ("%build_collector", "%clangxx %s -DXPTI_COLLECTOR -DXPTI_CALLBACK_API_EXPORTS %xptifw_lib %shared_lib %fPIC %cxx_std_optionc++17 -o %t_collector.dll %if preview-mode %{-Wno-unused-command-line-argument%}"))
