# https://github.com/intel/llvm/issues/17165
if 'windows' in config.available_features:
   config.unsupported_features += ['arch-intel_gpu_bmg_g21']

# https://github.com/intel/llvm/issues/18668
# https://github.com/intel/llvm/issues/18579
config.unsupported_features += ['gpu-intel-dg2 && level_zero_v2_adapter']
