# MTL - CMPLRLLVM-68693, CMPLRTST-25611, CMPLRLLVM-68457
config.unsupported_features += ['arch-intel_gpu_mtl_h', 'arch-intel_gpu_mtl_u']
if 'windows' in config.available_features:
   # LNL - CMPLRTST-27275
   config.unsupported_features += ['arch-intel_gpu_lnl_m']
   # PTL - CMPLRTST-27275
   config.unsupported_features += ['arch-intel_gpu_ptl_u', 'arch-intel_gpu_ptl_h']
