if 'windows' in config.available_features:
   # https://github.com/intel/llvm/issues/17165
   config.unsupported_features += ['arch-intel_gpu_bmg_g21', 'arch-intel_gpu_bmg_g31']
   # LNL - CMPLRTST-27275
   config.unsupported_features += ['arch-intel_gpu_lnl_m']
   # PTL - CMPLRTST-27275
   config.unsupported_features += ['arch-intel_gpu_ptl_u', 'arch-intel_gpu_ptl_h']
