name: 'Build Docker container'
description: 'Build Docker container in a standard way'

inputs:
  build-args:
    description: "List of build-time variables"
    required: false
  tags:
    description: "List of tags"
    required: true
  push:
    description: "Whether to push Docker image or not"
    required: false
    default: false
  username:
    description: "Registry user name"
    required: true
  password:
    description: "Registry user password"
    required: true
  file:
    description: "Dockerfile"
    required: true

runs:
  using: "composite"
  steps:
  - name: Login to GitHub Container Registry
    uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
    with:
      registry: ghcr.io
      username: ${{ inputs.username }}
      password: ${{ inputs.password }}
  - name: Set up Docker Buildx
    uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
  - name: Build and Push Container
    uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
    with:
      push: ${{ inputs.push }}
      tags: ${{ inputs.tags }}
      build-args: ${{ inputs.build-args }}
      context: ${{ github.workspace }}/devops
      file: ${{ github.workspace }}/devops/containers/${{ inputs.file }}.Dockerfile
      secrets: |
        github_token=${{ github.token }}
