:test_accessor
:test_address_space
:test_atomic
:test_buffer
:test_context
:test_device
:test_device_event
:test_device_selector
:test_error
:test_event
:test_exception_handling
:test_exceptions
:test_group
:test_h_item
#:test_handler
:test_header
:test_hierarchical
:test_host_task
:test_id
:test_image
:test_invoke
:test_item
:test_kernel
:test_kernel_args
#:test_math_builtin_api
:test_multi_ptr
:test_nd_item
:test_nd_range
:test_opencl_interop
:test_platform
:test_pointers
:test_queue
:test_range
:test_reduction
:test_sampler
:test_scalars
:test_specialization_constants
:test_std_classes
:test_stream
:test_usm
:test_vector_alias
:test_vector_api
:test_vector_constructors
:test_vector_load_store
#:test_vector_operators
:test_vector_swizzle_assignment
#:test_vector_swizzles
