# IMF is not supported on Nvidia and AMD
config.unsupported_features += ['target-nvidia', 'target-amd']

# IMF is not supported on Native CPU
# https://github.com/intel/llvm/issues/20142
config.unsupported_features += ['target-native_cpu']
