# https://github.com/intel/llvm/issues/21134
config.xfail_features += ['cuda']

# Our PVC runners don't have the userspace Vulkan driver installed
config.unsupported_features += ['arch-intel_gpu_pvc']
