import platform

config.unsupported_features += ['target-nvidia', 'target-amd']
config.required_features += ['gpu']

# TODO: enable on Windows once driver is ready.
if platform.system() != "Linux":
   config.unsupported = True
   
# https://github.com/intel/llvm/issues/20142.
config.unsupported_features += ['target-native_cpu']
