import platform

config.unsupported_features += ['target-nvidia', 'target-amd']
config.required_features += ['gpu']

# TODO: enable on Windows once driver is ready.
if platform.system() != "Linux":
   config.unsupported = True

# At the moment SPIR-V Backend has no plans to support this feature.
config.unsupported_features += ['spirv-backend']
