# Async alloc tests require virtual memory for device allocations
# Async alloc extension is required to support creating memory pools
config.required_features += ['aspect-ext_oneapi_virtual_mem', 'aspect-ext_oneapi_limited_graph', 'aspect-ext_oneapi_async_memory_alloc']
# V2 adapter does not support async alloc api yet
config.unsupported_features += ['level_zero_v2_adapter']
