# This test assumes it can only run in CPU/PVC/DG2 devices, which support usm_device_allocations aspect

config.substitutions.append(
    ("%device_asan_flags", "-Xarch_device -fsanitize=address")
)

config.substitutions.append(
    ("%force_device_asan_rt", "env SYCL_PREFER_UR=1 UR_ENABLE_LAYERS=UR_LAYER_ASAN")
)

config.unsupported_features += ['cuda', 'hip']

# FIXME: Skip gen devices, waiting for gfx driver uplifting
config.unsupported_features += ['gpu-intel-gen9', 'gpu-intel-gen11', 'gpu-intel-gen12']
