# This test assumes it can only run in CPU/PVC/DG2 devices, which support usm_device_allocations aspect

config.substitutions.append(
    ("%device_asan_flags", "-Xarch_device -fsanitize=address")
)

config.substitutions.append(
    ("%force_device_asan_rt", "env UR_ENABLE_LAYERS=UR_LAYER_ASAN")
)

config.unsupported_features += ['cuda', 'hip']

# FIXME: Skip some of gpu devices, waiting for gfx driver uplifting
# FIXME: Enable dg2 device when post-commit failure
# https://github.com/intel/llvm/actions/runs/11474026543/job/31930862668 is fixed
config.unsupported_features += ['gpu-intel-gen9', 'gpu-intel-gen11', 'gpu-intel-gen12', 'gpu-intel-pvc', 'gpu-intel-dg2']

# GPU testing requires level_zero
if 'opencl:gpu' in config.sycl_devices:
   config.required_features += ['level_zero']
