# SPIR-V Backend is in process of developing support for this feature.
# At the moment support of the feature depends on SPIR-V Backend & run-time
# drivers version, so we temporarily mark it as unsupported (CMPLRLLVM-64705).
config.unsupported_features += ['spirv-backend']

config.required_features += ['target-spir']
