# The command-buffer graph suite is currently disabled on Windows BMG.
# This undos the exclusion for native recording only.
if 'windows' in config.available_features:
    bmg_arches = {'arch-intel_gpu_bmg_g21', 'arch-intel_gpu_bmg_g31'}
    config.unsupported_features = [
        feature for feature in config.unsupported_features if feature not in bmg_arches
    ]
