# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.pdb
*.log
*.tlog
*.ilk
*.idb
*.CopyComplete
*.pyc
*.tmp

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Project files
*.sln
*.vcproj
*.vcxproj
*.pyproj
*.suo
*.db
*.opendb
*.user
*.filters
.vs/
.idea/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
scripts/**/*.json

# Python cache
__pycache__/
*.py[cod]

# Generated docs
docs/

# Build files
/build*/
out/

# irepo files
.irepo

# ci deps
.deps

# third_party files
/third_party/*/


# VS CMake settings
/CMakeSettings.json

# Temporary files
*.~vsdx

# IDE Files
/.vscode
/.devcontainer

# External content
*/**/external

# VS clangd
/.cache
/compile_commands.json
