import platform

config.required_features += ['fusion']
# TODO: Reenable hip, see https://github.com/intel/llvm/issues/14598
config.unsupported_features += ['accelerator', 'hip']

# TODO: enable on Windows once kernel fusion is supported on Windows.
if platform.system() != "Linux":
   config.unsupported = True

config.substitutions.append(
    ("%{embed-ir}", "%if any-device-is-hip || any-device-is-cuda %{ -fsycl-embed-ir %}")
)
