import platform

config.required_features += ['fusion']
config.unsupported_features += ['accelerator']

# TODO: enable on Windows once kernel fusion is supported on Windows.
if platform.system() != "Linux":
   config.unsupported = True

config.substitutions.append(
    ("%{embed-ir}", "%if any-device-is-hip || any-device-is-cuda %{ -fsycl-embed-ir %}")
)
