# Currently mark Native CPU as unsupported, does not compile and should be
# investigated and tracked post team transfer
# see https://github.com/intel/llvm/issues/20142
config.unsupported_features += ['target-native_cpu']
