syclbin_exec_opts = ""
if 'target-spir' in config.available_features:
  syclbin_exec_opts = '-fsycl-targets=spir64,spir64_x86_64'
  if 'ocloc' in config.available_features:
    # Build for a fixed set of Intel GPU architectures.
    syclbin_exec_opts = syclbin_exec_opts + ',intel_gpu_pvc,intel_gpu_dg2,intel_gpu_bmg_g21'
config.substitutions.append(('%{syclbin_exec_opts}', format(syclbin_exec_opts)))

# https://github.com/intel/llvm/issues/20142
config.unsupported_features += ['target-native_cpu']
