syclbin_exec_opts = ""
if 'target-spir' in config.available_features and 'ocloc' in config.available_features:
  # Due to a bug in clang-linker-wrapper we cannot use -device * on Windows, so
  # we pick specific targets for now. Once that is fixed we can switch to the
  # wildcard. See https://github.com/intel/llvm/issues/19373.
  syclbin_exec_opts = '-fsycl-targets=spir64,spir64_gen -Xsycl-target-backend=spir64_gen "-device pvc,dg2,bmg-g21"'
config.substitutions.append(('%{syclbin_exec_opts}', format(syclbin_exec_opts)))

# https://github.com/intel/llvm/issues/20142
config.unsupported_features += ['target-native_cpu']
