# Support of this feature is waiting for the upstream PR
# https://github.com/llvm/llvm-project/pull/127737 to be merged with intel/llvm.
config.unsupported_features += ['spirv-backend']

cl_options = 'cl_options' in config.available_features
