import platform

# Support of this feature is waiting for the upstream PR
# https://github.com/llvm/llvm-project/pull/127737 to be merged with intel/llvm.
config.unsupported_features += ['spirv-backend']

cl_options = 'cl_options' in config.available_features

link_vulkan = "-I %s " % (config.vulkan_include_dir)
if platform.system() == "Windows":
    if cl_options:
        link_vulkan += "/clang:-l%s" % (config.vulkan_lib)
    else:
        link_vulkan += "-l %s" % (config.vulkan_lib)
else:
    vulkan_lib_path = os.path.dirname(config.vulkan_lib)
    link_vulkan += "-L %s -lvulkan" % (vulkan_lib_path)
config.substitutions.append(("%link-vulkan", link_vulkan))

if platform.system() == "Windows":
    dx12libs = ['-ld3d12', '-ldxgi', '-ldxguid']
    if cl_options:
        dx12libs = ['/clang:' + l for l in dx12libs]
    config.substitutions.append(("%link-directx", ' '.join(dx12libs)))
