# https://github.com/intel/llvm/issues/20142
config.unsupported_features += ['target-native_cpu']

config.unsupported_features += ['spirv-backend']

cl_options = 'cl_options' in config.available_features
