clang/ @erichkeane, @Fznamznon

clang/include/clang/Driver/ @mdtoguchi @AGindinson
clang/lib/Driver/ @mdtoguchi @AGindinson

llvm-spirv/ @AlexeySotkin, @AlexeySachkov

opencl-aot/ @dm-vodopyanov, @AlexeySachkov, @romanovvlad

libdevice/ @asavonic, @vzakhari

sycl/doc/extensions/ @mkinsner, @jbrodman

sycl/doc/ @pvchupin, @kbobrovs

sycl/ @romanovvlad, @bader

xpti/ @tovinkere

* @bader