name: Linux Post Commit Checks

on:
  push:
    branches:
      - sycl
jobs:
   check:
     runs-on: ubuntu-latest
     strategy:
       fail-fast: false
       matrix:
         config: ["Default", "SharedLibs", "Assertions"]

     steps:
     - uses: actions/checkout@v2
       with:
         path: src
     - name: Install Ubuntu deps
       run: sudo apt install -y ninja-build
     - name: Configure
       run: |
         CONFIG=${{ matrix.config }}
         case $CONFIG in
             Default)
                 export ARGS=""
                 ;;
             SharedLibs)
                 export ARGS="--shared-libs"
                 ;;
             Assertiosn)
                 export ARGS="--assertions"
                 ;;
         esac
         mkdir -p $GITHUB_WORKSPACE/build
         cd $GITHUB_WORKSPACE/build
         python3 $GITHUB_WORKSPACE/src/buildbot/configure.py -w $GITHUB_WORKSPACE \
         -s $GITHUB_WORKSPACE/src -o $GITHUB_WORKSPACE/build -t Release $ARGS
     - name: Compile
       run: |
         python3 $GITHUB_WORKSPACE/src/buildbot/compile.py -w  $GITHUB_WORKSPACE \
         -s  $GITHUB_WORKSPACE/src -o $GITHUB_WORKSPACE/build
     - name: check-llvm
       if: always()
       run: |
         python3 $GITHUB_WORKSPACE/src/buildbot/check.py -w  $GITHUB_WORKSPACE \
         -s  $GITHUB_WORKSPACE/src -o $GITHUB_WORKSPACE/build -t check-llvm
     - name: check-clang
       if: always()
       run: |
         python3 $GITHUB_WORKSPACE/src/buildbot/check.py -w  $GITHUB_WORKSPACE \
         -s  $GITHUB_WORKSPACE/src -o $GITHUB_WORKSPACE/build -t check-clang
     - name: check-sycl
       if: always()
       run: |
         python3 $GITHUB_WORKSPACE/src/buildbot/check.py -w  $GITHUB_WORKSPACE \
         -s  $GITHUB_WORKSPACE/src -o $GITHUB_WORKSPACE/build -t check-sycl
     - name: check-llvm-spirv
       if: always()
       run: |
         python3 $GITHUB_WORKSPACE/src/buildbot/check.py -w  $GITHUB_WORKSPACE \
         -s  $GITHUB_WORKSPACE/src -o $GITHUB_WORKSPACE/build -t check-llvm-spirv
     - name: Pack
       run: tar -czvf llvm_sycl.tar.gz -C $GITHUB_WORKSPACE/build/install .
     - name: Upload artifacts
       uses: actions/upload-artifact@v1
       with:
         name: sycl_linux_${{ matrix.config }}
         path: llvm_sycl.tar.gz

