name: SYCL

on:
  pull_request:
    branches:
    - sycl

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/intel/llvm/sycl_ubuntu2004_nightly:no-drivers
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Run clang-format
      uses: ./devops/actions/clang-format

  linux_default:
    name: Default Linux
    # Only build and test patches, that have passed all linter checks, because
    # the next commit is likely to be a follow-up on that job.
    needs: lint
    if: always() && (success() || contains(github.event.pull_request.labels.*.name, 'ignore-lint'))
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    with:
      build_runs_on: "build"
      build_cache_root: "/__w/"
      build_cache_size: "8G"
      build_artifact_suffix: "default"
      build_cache_suffix: "default"
      lts_config: "hip_amdgpu;ocl_x64;ocl_gen9;l0_gen9"
