name: SYCL Pre Commit

on:
  pull_request_target:
    branches:
    - sycl
    # Do not run builds if changes are only in the following locations
    paths-ignore:
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/CODEOWNERS'
    - '.github/workflows/sycl_update_gpu_driver.yml'
    - '.github/workflows/sycl_containers.yaml'
    - '.github/workflows/sycl_nightly.yml'
    - '.github/workflows/sycl_post_commit.yml'
    - '.github/workflows/sycl_windows_build_and_test.yml'
    - '.github/workflows/sycl_macos_build_and_test.yml'
    - 'devops/containers/**'
    - 'devops/scripts/install_drivers.sh'
    - 'devops/scripts/install_build_tools.sh'
    - 'sycl/doc/**'
    - 'sycl/gdb/**'
    - 'clang/docs/**'
    - '**.md'
    - '**.rst'

permissions:
  contents: read

jobs:
  detect_changes:
    uses: ./.github/workflows/sycl_detect_changes.yml

  lint:
    runs-on: cuda
    container:
      image: ghcr.io/intel/llvm/sycl_ubuntu2204_nightly:no-drivers
      # actions/checkout fails without "--privileged".
      options: -u 1001:1001 --privileged
    steps:
    - uses: actions/checkout@v3
      with:
        sparse-checkout: |
          devops/actions/cached_checkout
    - name: 'PR commits + 2'
      run: echo "PR_FETCH_DEPTH=$(( ${{ github.event.pull_request.commits }} + 2 ))" >> "${GITHUB_ENV}"
    - uses: ./devops/actions/cached_checkout
      with:
        path: src
        fetch-depth: ${{ env.PR_FETCH_DEPTH }}
        ref: ${{ github.event.pull_request.head.sha }}
        cache_path: "/__w/repo_cache/"
        merge: false
    - name: Run clang-format
      uses: ./src/devops/actions/clang-format
      with:
        path: src

  # This job generates matrix of tests for SYCL End-to-End tests
  test_matrix:
    name: Generate Test Matrix
    uses: ./.github/workflows/sycl_gen_test_matrix.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      lts_config: "hip_amdgpu;lin_intel;esimd_emu;cuda_aws;win_l0_gen12"

  linux_default:
    name: Linux
    # Only build and test patches, that have passed all linter checks, because
    # the next commit is likely to be a follow-up on that job.
    needs: [lint, test_matrix, detect_changes]
    if: always() && (success() || contains(github.event.pull_request.labels.*.name, 'ignore-lint'))
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    secrets: inherit
    with:
      build_ref: ${{ github.event.pull_request.head.sha }}
      build_cache_root: "/__w/"
      build_cache_size: "8G"
      build_artifact_suffix: "default"
      build_cache_suffix: "default"
      lts_matrix: ${{ needs.test_matrix.outputs.lts_lx_matrix }}
      lts_aws_matrix: ${{ needs.test_matrix.outputs.lts_aws_matrix }}
      check_filters: ${{ needs.detect_changes.outputs.filters }}

  windows_default:
    name: Windows
    needs: [lint, test_matrix, detect_changes]
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build_and_test.yml
    with:
      lts_matrix: ${{ needs.test_matrix.outputs.lts_wn_matrix }}
      build_ref: ${{ github.event.pull_request.head.sha }}
      check_filters: ${{ needs.detect_changes.outputs.filters }}
