name: SYCL Pre Commit on Windows

on:
  pull_request:
    branches:
    - sycl
    - sycl-devops-pr/**
    - llvmspirv_pulldown
    - sycl-rel-**
    # Do not run builds if changes are only in the following locations
    paths-ignore:
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/CODEOWNERS'
    - 'sycl/doc/**'
    - 'sycl/gdb/**'
    - 'clang/docs/**'
    - '**.md'
    - '**.rst'
    - '.github/workflows/sycl_linux_*.yml'
    - '.github/workflows/sycl_precommit_aws.yml'
    - '.github/workflows/sycl_macos_*.yml'
    - 'devops/containers/**'
    - 'devops/actions/build_container/**'

permissions:
  contents: read

concurrency:
  #  Cancel a currently running workflow from the same PR, branch or tag.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  detect_changes:
    uses: ./.github/workflows/sycl_detect_changes.yml

  build:
    needs: [detect_changes]
    if: |
      always() && success()
      && github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build.yml
    with:
      changes: ${{ needs.detect_changes.outputs.filters }}

  e2e:
    needs: build
    # Continue if build was successful.
    if: |
      always()
      && !cancelled()
      && needs.build.outputs.build_conclusion == 'success'
    uses: ./.github/workflows/sycl_windows_run_tests.yml
    with:
      name: Intel GEN12 Graphics with Level Zero
      runner: '["Windows","gen12"]'
      sycl_toolchain_archive: ${{ needs.build.outputs.artifact_archive_name }}
