name: Benchmarks

# This workflow is a WIP: this workflow file acts as a placeholder.

on: [ workflow_dispatch ]

jobs:
  do-nothing:
    runs-on: ubuntu-latest
    steps:
      - run: echo 'This workflow is a WIP.'
