name: SYCL Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

permissions: read-all

jobs:
  check_abi_symbols:
    name: Check ABI symbols tests match release branch
    runs-on: [Linux, build]
    if: github.repository == 'intel/llvm'
    container: ghcr.io/intel/llvm/ubuntu2404_build
    steps:
    - uses: actions/checkout@v5
      with:
        sparse-checkout: |
          sycl/test/abi
    - run: |
        git fetch --depth=1 origin sycl-rel-6_3
        git diff --exit-code -I "^# RUN" origin/sycl-rel-6_3:sycl/test/abi/sycl_symbols_linux.dump sycl/test/abi/sycl_symbols_linux-sycl-rel-6_3.dump
        git diff --exit-code -I "^# RUN" origin/sycl-rel-6_3:sycl/test/abi/sycl_symbols_windows.dump sycl/test/abi/sycl_symbols_windows-sycl-rel-6_3.dump

  get_date:
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.get_date.outputs.date }}
    steps:
    - id: get_date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

  ubuntu2204_build:
    needs: get_date
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-linux-build.yml
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_configure_extra_args: '--hip --cuda -DSYCL_BUILD_INFO="Nightly ${{ needs.get_date.outputs.date }}"'
      build_image: ghcr.io/intel/llvm/ubuntu2204_build:latest

      retention-days: 90
      toolchain_artifact: sycl_linux_default
      # We upload the build for people to download/use, override its name and
      # prefer widespread gzip compression.
      toolchain_artifact_filename: sycl_linux.tar.gz

  e2e-with-new-offload-model:
    needs: [ubuntu2204_build]
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    permissions:
      contents: write
      packages: read
    with:
      name: "E2E with enabled NewOffloadModel"
      runner: ${{ inputs.runner }}
      image_options: ${{ inputs.image_options }}
      tests_selector: e2e
      testing_mode: ${{ inputs.testing_mode }}
      target_devices: ${{ inputs.target_devices }}
      extra_lit_opts: "--param enable_new_offload_model=True"
      tests_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}

  build-win:
    needs: get_date
    uses: ./.github/workflows/sycl-windows-build.yml
    if: github.repository == 'intel/llvm'
    with:
      retention-days: 90
      # We upload both Linux/Windows build via Github's "Releases"
      # functionality, make sure Linux/Windows names follow the same pattern.
      toolchain_artifact_filename: sycl_windows.tar.gz
      # Disable the spirv-dis requirement as to not require SPIR-V Tools.
      build_configure_extra_args: -DLLVM_SPIRV_ENABLE_LIBSPIRV_DIS=off -DSYCL_BUILD_INFO="Nightly ${{ needs.get_date.outputs.date }}"
      build_target: all

  e2e-win-with-new-offload-model:
    needs: [build-win]
    if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    permissions: read-all
    with:
      name: "E2E Windows with enabled NewOffloadModel"
      runner: '["Windows", arc"]'
      tests_selector: e2e
      testing_mode: ${{ inputs.testing_mode }}
      target_devices: level_zero:gpu
      extra_lit_opts: "--param enable_new_offload_model=True"
      toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}

  build-sycl-cts-linux:
    needs: ubuntu2204_build
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: Build SYCL-CTS for Linux
      runner: '["Linux", "build"]'
      testing_mode: 'build-only'
      image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
      binaries_artifact: sycl_cts_bin_linux

  run-sycl-cts-linux:
    needs: [ubuntu2204_build, build-sycl-cts-linux]
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SYCL-CTS on OCL CPU
            runner: '["Linux", "gen12"]'
            image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
            target_devices: opencl:cpu

          - name: SYCL-CTS on L0 gen12
            runner: '["Linux", "gen12"]'
            image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
            target_devices: level_zero:gpu
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      testing_mode: 'run-only'
      image_options: ${{ matrix.image_options }}
      target_devices: ${{ matrix.target_devices }}
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
      binaries_artifact: sycl_cts_bin_linux

  build-with-new-offload-sycl-cts-linux:
    needs: ubuntu2204_build
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: Build SYCL-CTS for Linux
      runner: '["Linux", "build"]'
      testing_mode: 'build-only'
      image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
      tests_selector: cts
      extra_lit_opts: "--param enable_new_offload_model=True" 
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
      binaries_artifact: sycl_cts_bin_linux_with_new_offload_model

  run-with-new-offload-sycl-cts-linux:
    needs: [ubuntu2204_build, build-with-new-offload-sycl-cts-linux]
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SYCL-CTS on OCL CPU
            runner: '["Linux", "gen12"]'
            image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
            target_devices: opencl:cpu

          - name: SYCL-CTS on L0 gen12
            runner: '["Linux", "gen12"]'
            image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
            target_devices: level_zero:gpu
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      testing_mode: 'run-only'
      image_options: ${{ matrix.image_options }}
      target_devices: ${{ matrix.target_devices }}
      tests_selector: cts
      extra_lit_opts: "--param enable_new_offload_model=True"
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
      binaries_artifact: sycl_cts_bin_linux_with_new_offload_model

  build-sycl-cts-win:
    needs: build-win
    if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: Build SYCL-CTS for Windows
      runner: '["Windows", "build"]'
      testing_mode: 'build-only'
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
      binaries_artifact: sycl_cts_bin_win

  run-sycl-cts-win:
    needs: [build-win, build-sycl-cts-win]
    if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SYCL-CTS on L0 gen12
            runner: '["Windows", "gen12"]'
            target_devices: level_zero:gpu
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      testing_mode: 'run-only'
      target_devices: ${{ matrix.target_devices }}
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
      binaries_artifact: sycl_cts_bin_win

  build-with-new-offload-model-sycl-cts-win:
    needs: build-win
    if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: Build SYCL-CTS for Windows
      runner: '["Windows", "build"]'
      testing_mode: 'build-only'
      tests_selector: cts
      extra_lit_opts: "--param enable_new_offload_model=True"
      repo_ref: ${{ github.sha }}
      toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
      binaries_artifact: sycl_cts_bin_win_with_new_offload_model

  run-with-new-offload-sycl-cts-win:
    needs: [build-win, build-with-new-offload-model-sycl-cts-win]
    if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SYCL-CTS on L0 gen12
            runner: '["Windows", "gen12"]'
            target_devices: level_zero:gpu
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      testing_mode: 'run-only'
      target_devices: ${{ matrix.target_devices }}
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
      binaries_artifact: sycl_cts_bin_win_with_new_offload_model
