name: SYCL Nightly Builds

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'
  pull_request:
    paths:
      - 'devops/containers/ubuntu2004_preinstalled.Dockerfile'
      - 'devops/containers/ubuntu2204_preinstalled.Dockerfile'
      - '.github/workflows/sycl_nightly.yml'

jobs:
  test_matrix:
    name: Generate Test Matrix
    uses: ./.github/workflows/sycl_gen_test_matrix.yml
    with:
      lts_config: "ocl_gen9;ocl_x64"

  ubuntu2004_build_test:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    needs: test_matrix
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_artifact_suffix: default
      build_configure_extra_args: ''

  ubuntu2204_build_test:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    needs: test_matrix
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_artifact_suffix: default
      build_configure_extra_args: ''
      build_image: "ghcr.io/intel/llvm/ubuntu2204_build:latest"

  ubuntu2004_opaque_pointers_build_test:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    needs: test_matrix
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_cache_suffix: opaque_pointers
      build_artifact_suffix: opaque_pointers
      build_configure_extra_args: "--hip --cuda --enable-esimd-emulator --cmake-opt=-DDPCPP_ENABLE_OPAQUE_POINTERS=TRUE --cmake-opt=-DSPIRV_ENABLE_OPAQUE_POINTERS=TRUE"

  ubuntu2204_opaque_pointers_build_test:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    needs: test_matrix
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_cache_suffix: opaque_pointers
      build_artifact_suffix: opaque_pointers
      build_configure_extra_args: "--hip --cuda --enable-esimd-emulator --cmake-opt=-DDPCPP_ENABLE_OPAQUE_POINTERS=TRUE --cmake-opt=-DSPIRV_ENABLE_OPAQUE_POINTERS=TRUE"
      build_image: "ghcr.io/intel/llvm/ubuntu2204_build:latest"

  windows_default:
    name: Windows
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build_and_test.yml

  ubuntu2004_docker_build_push:
    if: github.repository == 'intel/llvm'
    runs-on: ubuntu-latest
    needs: ubuntu2004_build_test
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: sycl_linux_default
        path: devops/
    - name: Build and Push Container (with drivers)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2004_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2004_intel_drivers
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2004_nightly:${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2004_nightly:latest
    - name: Build and Push Container (no drivers)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2004_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2004_base
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2004_nightly:no-drivers-${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2004_nightly:no-drivers

  ubuntu2204_docker_build_push:
    if: github.repository == 'intel/llvm'
    runs-on: ubuntu-latest
    needs: ubuntu2204_build_test
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: sycl_linux_default
        path: devops/
    - name: Build and Push Container (with drivers)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2204_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2204_intel_drivers
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:latest
    - name: Build and Push Container (no drivers)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2204_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2204_base
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:no-drivers-${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:no-drivers
