name: SYCL Pre Commit on Windows

on:
  pull_request:
    branches:
    - sycl
    - sycl-devops-pr/**
    - llvmspirv_pulldown
    # Do not run builds if changes are only in the following locations
    paths-ignore:
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/CODEOWNERS'
    - 'sycl/doc/**'
    - 'sycl/gdb/**'
    - 'clang/docs/**'
    - '**.md'
    - '**.rst'
    - '.github/workflows/sycl_precommit_linux.yml'
    - '.github/workflows/sycl_linux_build.yml'
    - '.github/workflows/sycl_linux_run_tests.yml'
    - '.github/workflows/sycl_precommit_aws.yml'
    - 'devops/containers/**'
    - 'devops/actions/build_container/**'

permissions:
  contents: read

jobs:
  detect_changes:
    uses: ./.github/workflows/sycl_detect_changes.yml

  lint:
    runs-on: [Linux, build]
    container:
      image: ghcr.io/intel/llvm/sycl_ubuntu2204_nightly:no-drivers
      options: -u 1001:1001
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.base_ref }}
        sparse-checkout: |
          devops/actions/cached_checkout
          devops/actions/clang-format
          devops/actions/cleanup
    - name: Register cleanup after job is finished
      uses: ./devops/actions/cleanup
    - name: 'PR commits + 2'
      run: echo "PR_FETCH_DEPTH=$(( ${{ github.event.pull_request.commits }} + 2 ))" >> "${GITHUB_ENV}"
    - uses: ./devops/actions/cached_checkout
      with:
        path: src
        fetch-depth: ${{ env.PR_FETCH_DEPTH }}
        ref: ${{ github.event.pull_request.head.sha }}
        merge_ref: ''
        cache_path: "/__w/repo_cache/"
    - name: Run clang-format
      uses: ./devops/actions/clang-format
      with:
        path: src

  windows_default:
    name: Windows
    needs: [lint, detect_changes]
    if: |
      always()
      && (success() || contains(github.event.pull_request.labels.*.name, 'ignore-lint'))
      && github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build_and_test.yml
    with:
      build_ref: ${{ github.sha }}
      changes: ${{ needs.detect_changes.outputs.filters }}
