name: SYCL Post Commit

on:
  push:
    branches:
    - sycl
    - sycl-devops-pr/**
    - sycl-rel-**

  pull_request:
    branches:
    - sycl
    - sycl-devops-pr/**
    paths:
    - .github/workflows/sycl-post-commit.yml
    - .github/workflows/sycl-linux-build.yml
    - .github/workflows/sycl-linux-run-tests.yml
    - .github/workflows/sycl-macos-build-and-test.yml
    - ./devops/actions/cleanup
    - ./devops/actions/cached_checkout

jobs:
  build-lin:
    name: Linux (Self build + shared libraries + no-assertions)
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-linux-build.yml
    with:
      build_cache_root: "/__w/llvm"
      build_cache_suffix: sprod_shared
      build_artifact_suffix: sprod_shared
      build_configure_extra_args: --shared-libs --no-assertions --hip --cuda --cmake-opt="-DSYCL_ENABLE_STACK_PRINTING=ON" --cmake-opt="-DSYCL_LIB_WITH_DEBUG_SYMBOL=ON"
      # Docker image has last nightly pre-installed and added to the PATH
      build_image: "ghcr.io/intel/llvm/sycl_ubuntu2204_nightly:build"
      cc: clang
      cxx: clang++
      merge_ref: ''

  e2e-lin:
    needs: [build-lin]
    if: ${{ always() && !cancelled() && needs.build-lin.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Intel GEN12 Graphics with Level Zero
            runner: '["Linux", "gen12"]'
            extra_lit_opts: --param gpu-intel-gen12=True
            target_devices: ext_oneapi_level_zero:gpu;opencl:fpga
          - name: Intel Arc A-Series Graphics with Level Zero
            runner: '["Linux", "arc"]'
            extra_lit_opts: --param matrix-xmx8=True --param gpu-intel-dg2=True
          # Performance tests below. Specifics:
          #  - only run performance tests (use LIT_FILTER env)
          #  - ask llvm-lit to show all the output, even for PASS (-a)
          #  - run in single thread (-j 1)
          #  - enable the tests in LIT (--param enable-perf-tests=True)
          #  - run on all available devices.
          - name: Perf tests on Intel GEN12 Graphics system
            runner: '["Linux", "gen12"]'
            env: '{"LIT_FILTER":"PerformanceTests/"}'
            extra_lit_opts: -a -j 1 --param enable-perf-tests=True --param gpu-intel-gen12=True
            target_devices: all
          - name: Perf tests on Intel Arc A-Series Graphics system
            runner: '["Linux", "arc"]'
            env: '{"LIT_FILTER":"PerformanceTests/"}'
            extra_lit_opts: -a -j 1 --param enable-perf-tests=True
            target_devices: all
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix. runner }}
      image: ghcr.io/intel/llvm/ubuntu2204_intel_drivers:latest
      image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
      target_devices: ${{ matrix.target_devices || 'ext_oneapi_level_zero:gpu' }}
      reset_gpu: true

      extra_lit_opts: ${{ matrix.extra_lit_opts }}
      env: ${{ matrix.env || '{}' }}

      ref: ${{ github.sha }}
      merge_ref: ''

      sycl_toolchain_artifact: sycl_linux_sprod_shared
      sycl_toolchain_archive: ${{ needs.build-lin.outputs.artifact_archive_name }}
      sycl_toolchain_decompress_command: ${{ needs.build-lin.outputs.artifact_decompress_command }}

  build-win:
    if: |
      always()
      && success()
      && github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-windows-build.yml

  e2e-win:
    needs: build-win
    # Continue if build was successful.
    if: |
      always()
      && !cancelled()
      && needs.build-win.outputs.build_conclusion == 'success'
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: Intel GEN12 Graphics with Level Zero
      runner: '["Windows","gen12"]'
      sycl_toolchain_archive: ${{ needs.build-win.outputs.artifact_archive_name }}
      extra_lit_opts: --param gpu-intel-gen12=True

  macos_default:
    name: macOS
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-macos-build-and-test.yml
