name: SYCL Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:
  test_matrix:
    if: github.repository == 'intel/llvm'
    name: Generate Test Matrix
    uses: ./.github/workflows/sycl_gen_test_matrix.yml
    with:
      # Restore once plugins are enabled in the build.
      # lts_config: "hip_amdgpu;ocl_gen9;ocl_x64;l0_gen9;esimd_emu;cuda_aws;win_l0_gen12"
      lts_config: "ocl_gen9;ocl_x64;l0_gen9;win_l0_gen12"

  ubuntu2204_build_test:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    needs: test_matrix
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_artifact_suffix: default-2204
      merge_ref: ''
      retention-days: 90
      lts_matrix: ${{ needs.test_matrix.outputs.lts_lx_matrix }}
      lts_aws_matrix: ${{ needs.test_matrix.outputs.lts_aws_matrix }}
      build_configure_extra_args: ''

  ubuntu2204_opaque_pointers_build_test:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    needs: test_matrix
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_cache_suffix: opaque_pointers
      build_artifact_suffix: opaque_pointers-2204
      build_configure_extra_args: "--hip --cuda --enable-esimd-emulator --cmake-opt=-DSPIRV_ENABLE_OPAQUE_POINTERS=TRUE"
      merge_ref: ''

  windows_default:
    name: Windows
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build_and_test.yml
    needs: test_matrix
    with:
      retention-days: 90
      lts_matrix: ${{ needs.test_matrix.outputs.lts_wn_matrix }}

  ubuntu2204_docker_build_push:
    if: github.repository == 'intel/llvm'
    runs-on: ubuntu-22.04
    needs: ubuntu2204_build_test
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: sycl_linux_default-2204
        path: devops/
    - name: Build and Push Container (with drivers)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2204_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2204_intel_drivers
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:latest
    - name: Build and Push Container (no drivers)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2204_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2204_base
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:no-drivers-${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:no-drivers
    - name: Build and Push Container (Build image)
      uses: ./devops/actions/build_container
      with:
        push: ${{ github.event_name != 'pull_request' }}
        file: ubuntu2204_preinstalled
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        build-args: |
          base_image=ghcr.io/intel/llvm/ubuntu2204_build
          base_tag=latest
        tags: |
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:build-${{ github.sha }}
          ghcr.io/${{ github.repository }}/sycl_ubuntu2204_nightly:build
