name: Scan Python code with Bandit

on:
  workflow_dispatch:
  pull_request:
    branches:
    - sycl
    paths:
    - '**/*.py'
  push:
    branches:
    - sycl
    paths:
    - '**/*.py'

permissions:
  contents: read

jobs:
  bandit:
    if: github.repository == 'intel/llvm'
    name: Bandit
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - name: Clone the git repo
        uses: actions/checkout@v5

      - name: Install Bandit
        run: pip install bandit bandit-sarif-formatter

      - name: Run Bandit
        run: |
          bandit -c devops/bandit.config -r . --exit-zero -f sarif -o bandit_results.sarif

      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: bandit_results.sarif
