name: SYCL Nightly


on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

permissions: read-all

jobs:
  get_date:
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.get_date.outputs.date }}
    steps:
    - id: get_date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

  ubuntu2204_build:
    needs: get_date
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-linux-build.yml
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_configure_extra_args: '--hip --cuda -DSYCL_BUILD_INFO="Nightly ${{ needs.get_date.outputs.date }}"'
      build_image: ghcr.io/intel/llvm/ubuntu2204_build:latest

      retention-days: 90
      toolchain_artifact: sycl_linux_default
      # We upload the build for people to download/use, override its name and
      # prefer widespread gzip compression.
      toolchain_artifact_filename: sycl_linux.tar.gz

  ubuntu2204_test:
    needs: [ubuntu2204_build]
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: AMD/HIP
            runner: '["Linux", "amdgpu"]'
            image_options: -u 1001 --device=/dev/dri --device=/dev/kfd
            target_devices: hip:gpu

          - name: Preview mode on AMD/HIP
            runner: '["Linux", "amdgpu"]'
            image_options: -u 1001 --device=/dev/dri --device=/dev/kfd
            target_devices: hip:gpu
            extra_lit_opts: --param test-preview-mode=True

          - name: NVIDIA/CUDA
            runner: '["Linux", "cuda"]'
            image_options: -u 1001 --gpus all --cap-add SYS_ADMIN
            target_devices: cuda:gpu

          - name: Preview mode on NVIDIA/CUDA
            runner: '["Linux", "cuda"]'
            image_options: -u 1001 --gpus all --cap-add SYS_ADMIN
            target_devices: cuda:gpu
            extra_lit_opts: --param test-preview-mode=True

          - name: Intel L0 Gen12 GPU
            runner: '["Linux", "gen12"]'
            target_devices: level_zero:gpu

          - name: Intel L0 Ponte Vecchio GPU
            runner: '["Linux", "pvc"]'
            target_devices: level_zero:gpu

          - name: Intel L0 Battlemage GPU
            runner: '["Linux", "bmg"]'
            target_devices: level_zero:gpu

          - name: Preview mode on Intel L0 Battlemage GPU
            runner: '["Linux", "bmg"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param test-preview-mode=True

          - name: Intel L0 Arc A-Series GPU
            runner: '["Linux", "arc"]'
            target_devices: level_zero:gpu

          - name: Intel OCL Gen12 GPU
            runner: '["Linux", "gen12"]'
            target_devices: opencl:gpu

          - name: OCL CPU (AMD)
            runner: '["Linux", "amdcpu"]'
            image_options: -u 1001
            target_devices: opencl:cpu

          - name: OCL CPU (Intel/GEN12)
            runner: '["Linux", "gen12"]'
            image_options: -u 1001 --privileged --cap-add SYS_ADMIN
            target_devices: opencl:cpu

          - name: OCL CPU (Intel/Arc)
            runner: '["Linux", "arc"]'
            image_options: -u 1001
            target_devices: opencl:cpu

          - name: Preview mode on SPR/PVC
            runner: '["Linux", "pvc"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param test-preview-mode=True
          
          - name: AMD/HIP with NewOffloadModel
            runner: '["Linux", "amdgpu"]'
            image_options: -u 1001 --device=/dev/dri --device=/dev/kfd
            target_devices: hip:gpu
            extra_lit_opts: --param enable_new_offload_model=True --param enable_new_offload_model=True

          - name: NVIDIA/CUDA with NewOffloadModel
            runner: '["Linux", "cuda"]'
            image_options: -u 1001 --gpus all --cap-add SYS_ADMIN
            target_devices: cuda:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Intel L0 Gen12 GPU with NewOffloadModel
            runner: '["Linux", "gen12"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Intel L0 Ponte Vecchio GPU with NewOffloadModel
            runner: '["Linux", "pvc"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Intel L0 Battlemage GPU with NewOffloadModel
            runner: '["Linux", "bmg"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Preview mode on Intel L0 Battlemage GPU with NewOffloadModel
            runner: '["Linux", "bmg"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param test-preview-mode=True

          - name: Intel L0 Arc A-Series GPU with NewOffloadModel
            runner: '["Linux", "arc"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Intel OCL Gen12 GPU with NewOffloadModel
            runner: '["Linux", "gen12"]'
            target_devices: opencl:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: OCL CPU (AMD) with NewOffloadModel
            runner: '["Linux", "amdcpu"]'
            image_options: -u 1001
            target_devices: opencl:cpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: OCL CPU (Intel/GEN12) with NewOffloadModel
            runner: '["Linux", "gen12"]'
            image_options: -u 1001 --privileged --cap-add SYS_ADMIN
            target_devices: opencl:cpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: OCL CPU (Intel/Arc) with NewOffloadModel
            runner: '["Linux", "arc"]'
            image_options: -u 1001
            target_devices: opencl:cpu
            extra_lit_opts: --param enable_new_offload_model=True

    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      image_options: ${{ matrix.image_options || '-u 1001 --device=/dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged --cap-add SYS_ADMIN' }}
      target_devices: ${{ matrix.target_devices }}
      tests_selector: e2e
      extra_lit_opts: "--param 'cxx_flags=-D_GLIBCXX_USE_CXX11_ABI=0' ${{ matrix.extra_lit_opts }}"
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}

  build-win:
    needs: get_date
    uses: ./.github/workflows/sycl-windows-build.yml
    if: github.repository == 'intel/llvm'
    with:
      retention-days: 90
      # We upload both Linux/Windows build via Github's "Releases"
      # functionality, make sure Linux/Windows names follow the same pattern.
      toolchain_artifact_filename: sycl_windows.tar.gz
      # Disable the spirv-dis requirement as to not require SPIR-V Tools.
      build_configure_extra_args: -DLLVM_SPIRV_ENABLE_LIBSPIRV_DIS=off -DSYCL_BUILD_INFO="Nightly ${{ needs.get_date.outputs.date }}"
      build_target: all

  e2e-win:
    needs: build-win
    # Continue if build was successful.
    if: |
      !cancelled()
      && needs.build-win.outputs.build_conclusion == 'success'
    strategy:
      fail-fast: false
      matrix:
        include:
          #- name: Intel L0 Gen12 GPU
          #  runner: '["Windows", "gen12"]'
          #  target_devices: level_zero:gpu

          #- name: Intel L0 Arc GPU
          #  runner: '["Windows", "arc"]'
          #  target_devices: level_zero:gpu

          #- name: Intel L0 Battlemage GPU
          #  runner: '["Windows", "bmg"]'
          #  target_devices: level_zero:gpu
          
          - name: Intel L0 Gen12 GPU with NewOffloadModel
            runner: '["Windows", "gen12"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Intel L0 Arc GPU with NewOffloadModel
            runner: '["Windows", "arc"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

          - name: Intel L0 Battlemage GPU with NewOffloadModel
            runner: '["Windows", "bmg"]'
            target_devices: level_zero:gpu
            extra_lit_opts: --param enable_new_offload_model=True

    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      target_devices: ${{ matrix.target_devices }}
      extra_lit_opts: ${{ matrix.extra_lit_opts }}
      toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}

  #build-sycl-cts-linux:
  #  needs: ubuntu2204_build
  #  permissions:
  #    contents: write
  #    packages: read
  #  if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
  #  uses: ./.github/workflows/sycl-linux-run-tests.yml
  #  with:
  #    name: Build SYCL-CTS for Linux
  #    runner: '["Linux", "build"]'
  #    testing_mode: 'build-only'
  #    image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
  #    tests_selector: cts
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
  #    toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
  #    toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
  #    binaries_artifact: sycl_cts_bin_linux

  #run-sycl-cts-linux:
  #  needs: [ubuntu2204_build, build-sycl-cts-linux]
  #  permissions:
  #    contents: write
  #    packages: read
  #  if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
  #  strategy:
  #    fail-fast: false
  #    matrix:
  #      include:
  #        - name: SYCL-CTS on OCL CPU
  #          runner: '["Linux", "gen12"]'
  #          image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
  #          target_devices: opencl:cpu
#
  #        - name: SYCL-CTS on L0 gen12
  #          runner: '["Linux", "gen12"]'
  #          image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
  #          target_devices: level_zero:gpu
  #  uses: ./.github/workflows/sycl-linux-run-tests.yml
  #  with:
  #    name: ${{ matrix.name }}
  #    runner: ${{ matrix.runner }}
  #    testing_mode: 'run-only'
  #    image_options: ${{ matrix.image_options }}
  #    target_devices: ${{ matrix.target_devices }}
  #    tests_selector: cts
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
  #    toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
  #    toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
  #    binaries_artifact: sycl_cts_bin_linux

  #build-with-new-offload-sycl-cts-linux:
  #  needs: ubuntu2204_build
  #  permissions:
  #    contents: write
  #    packages: read
  #  if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
  #  uses: ./.github/workflows/sycl-linux-run-tests.yml
  #  with:
  #    name: Build SYCL-CTS for Linux
  #    runner: '["Linux", "build"]'
  #    testing_mode: 'build-only'
  #    image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
  #    tests_selector: cts
  #    extra_lit_opts: "--param enable_new_offload_model=True" 
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
  #    toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
  #    toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
  #    binaries_artifact: sycl_cts_bin_linux_with_new_offload_model

  #run-with-new-offload-sycl-cts-linux:
  #  needs: [ubuntu2204_build, build-with-new-offload-sycl-cts-linux]
  #  permissions:
  #    contents: write
  #    packages: read
  #  if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
  #  strategy:
  #    fail-fast: false
  #    matrix:
  #      include:
  #        - name: SYCL-CTS on OCL CPU
  #          runner: '["Linux", "gen12"]'
  #          image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
  #          target_devices: opencl:cpu
#
  #        - name: SYCL-CTS on L0 gen12
  #          runner: '["Linux", "gen12"]'
  #          image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
  #          target_devices: level_zero:gpu
  #  uses: ./.github/workflows/sycl-linux-run-tests.yml
  #  with:
  #    name: ${{ matrix.name }}
  #    runner: ${{ matrix.runner }}
  #    testing_mode: 'run-only'
  #    image_options: ${{ matrix.image_options }}
  #    target_devices: ${{ matrix.target_devices }}
  #    tests_selector: cts
  #    extra_lit_opts: "--param enable_new_offload_model=True"
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
  #    toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
  #    toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
  #    binaries_artifact: sycl_cts_bin_linux_with_new_offload_model

  #build-sycl-cts-win:
  #  needs: build-win
  #  if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
  #  uses: ./.github/workflows/sycl-windows-run-tests.yml
  #  with:
  #    name: Build SYCL-CTS for Windows
  #    runner: '["Windows", "build"]'
  #    testing_mode: 'build-only'
  #    tests_selector: cts
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
  #    binaries_artifact: sycl_cts_bin_win

  #run-sycl-cts-win:
  #  needs: [build-win, build-sycl-cts-win]
  #  if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
  #  strategy:
  #    fail-fast: false
  #    matrix:
  #      include:
  #        - name: SYCL-CTS on L0 gen12
  #          runner: '["Windows", "gen12"]'
  #          target_devices: level_zero:gpu
  #  uses: ./.github/workflows/sycl-windows-run-tests.yml
  #  with:
  #    name: ${{ matrix.name }}
  #    runner: ${{ matrix.runner }}
  #    testing_mode: 'run-only'
  #    target_devices: ${{ matrix.target_devices }}
  #    tests_selector: cts
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
  #    binaries_artifact: sycl_cts_bin_win

  #build-with-new-offload-model-sycl-cts-win:
  #  needs: build-win
  #  if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
  #  uses: ./.github/workflows/sycl-windows-run-tests.yml
  #  with:
  #    name: Build SYCL-CTS for Windows
  #    runner: '["Windows", "build"]'
  #    testing_mode: 'build-only'
  #    tests_selector: cts
  #    extra_lit_opts: "--param enable_new_offload_model=True"
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
  #    binaries_artifact: sycl_cts_bin_win_with_new_offload_model

  #run-with-new-offload-sycl-cts-win:
  #  needs: [build-win, build-with-new-offload-model-sycl-cts-win]
  #  if: ${{ !cancelled() && needs.build-win.outputs.build_conclusion == 'success' }}
  #  strategy:
  #    fail-fast: false
  #    matrix:
  #      include:
  #        - name: SYCL-CTS on L0 gen12
  #          runner: '["Windows", "gen12"]'
  #          target_devices: level_zero:gpu
  #  uses: ./.github/workflows/sycl-windows-run-tests.yml
  #  with:
  #    name: ${{ matrix.name }}
  #    runner: ${{ matrix.runner }}
  #    testing_mode: 'run-only'
  #    target_devices: ${{ matrix.target_devices }}
  #    tests_selector: cts
  #    repo_ref: ${{ github.sha }}
  #    toolchain_artifact_filename: ${{ needs.build-win.outputs.toolchain_artifact_filename }}
  #    binaries_artifact: sycl_cts_bin_win_with_new_offload_model
