name: SYCL Experimental Pre-Commit

on:
  pull_request:
    branches:
    - sycl
    paths:
    - '.github/workflows/**'

jobs:
  # fake:
  #   runs-on: [Linux]
  #   steps:
  #     - run: echo "Build done"

  build:
    uses: ./.github/workflows/sycl_linux_build.yml
    with:
      build_ref: ${{ github.sha }}
      merge_ref: ''
      build_cache_root: "/__w/"
      build_artifact_suffix: "default"
      build_cache_suffix: "default"
      changes: '[]'

  test:
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ESIMD Emu
            runner: '["Linux", "x86-cpu"]'
            image: ghcr.io/intel/llvm/ubuntu2204_build:latest
            image_options: -u 1001
            target_devices: ext_intel_esimd_emulator:gpu
    uses: ./.github/workflows/sycl_linux_run_tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix. runner }}
      image: ${{ matrix.image }}
      image_options: ${{ matrix.image_options }}
      target_devices: ${{ matrix.target_devices }}
      ref: ${{ github.sha }}
      merge_ref: ''

      sycl_toolchain_artifact: sycl_linux_default
      sycl_toolchain_archive: ${{ needs.build.outputs.artifact_archive_name }}
      sycl_toolchain_decompress_command: ${{ needs.build.outputs.artifact_decompress_command }}
