name: Check load of the machine 

# on:
#   workflow_call:
on:
  push:
    branches:
      - luszczewskakasia1_monitoring

jobs:
  health-check:
    # zmienić na inną labelkę 
    runs-on: ["health-check"]
    steps:
      - name: Check load average
        id: check
        run: |
          DATE=$(date +"%Y-%m-%d_%H-%M-%S")
          echo "DATE=${DATE}" >> $GITHUB_OUTPUT
          mkdir -p artifacts
          echo "Directory created, verifying..."
          ls -la artifacts/
          uptime | awk -F'load average:' '{ print $2 }' > artifacts/${DATE}_${{ runner.name }}.txt
          echo "File created, verifying contents..."
          cat artifacts/${DATE}_${{ runner.name }}.txt
          echo "File path: artifacts/${DATE}_${{ runner.name }}.txt"
          ls -lh artifacts/${DATE}_${{ runner.name }}.txt
      - name: Upload load average artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.check.outputs.DATE }}_${{ runner.name }}_load-average
          path: artifacts/${{ steps.check.outputs.DATE }}_${{ runner.name }}.txt
  
  # call-aggregate:
  #   needs: health-check
  #   uses: ./.github/workflows/sycl-aggregate-data.yml
  

