name: SYCL Post Commit

on:
  push:
    branches:
    - sycl
    - sycl-devops-pr/**

  pull_request:
    branches:
    - sycl
    - sycl-devops-pr/**
    paths:
    - .github/workflow/sycl_post_commit.yml
    - .github/workflow/sycl_linux_build.yml
    - .github/workflow/sycl_linux_run_tests.yml
    - ./devops/actions/cleanup
    - ./devops/actions/cached_checkout

jobs:
  build:
    name: Linux (Self build + shared libraries + no-assertions)
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build.yml
    with:
      build_cache_root: "/__w/llvm"
      build_cache_suffix: sprod_shared
      build_artifact_suffix: sprod_shared
      build_configure_extra_args: --shared-libs --no-assertions --hip --cuda --cmake-opt="-DSYCL_ENABLE_STACK_PRINTING=ON" --cmake-opt="-DSYCL_LIB_WITH_DEBUG_SYMBOL=ON"
      # Docker image has last nightly pre-installed and added to the PATH
      build_image: "ghcr.io/intel/llvm/sycl_ubuntu2204_nightly:build"
      cc: clang
      cxx: clang++
      merge_ref: ''

  test:
    needs: [build]
    if: ${{ always() && !cancelled() && needs.build.outputs.build_conclusion == 'success' }}
    uses: ./.github/workflows/sycl_linux_run_tests.yml
    with:
      name: SYCL E2E on Intel Linux L0
      runner: '["Linux", "gen12"]'
      image: ghcr.io/intel/llvm/ubuntu2204_intel_drivers:latest
      image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
      target_devices: ext_oneapi_level_zero:gpu
      ref: ${{ github.sha }}
      merge_ref: ''
      sycl_toolchain_artifact: sycl_linux_sprod_shared
      sycl_toolchain_archive: ${{ needs.build.outputs.artifact_archive_name }}
      sycl_toolchain_decompress_command: ${{ needs.build.outputs.artifact_decompress_command }}

  windows_default:
    name: Windows
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build_and_test.yml

  macos_default:
    name: macOS
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_macos_build_and_test.yml
