name: SYCL Post Commit

on:
  push:
    branches:
    - sycl
    - sycl-devops-pr/**

jobs:
  # This job generates matrix of tests for SYCL End-to-End tests
  test_matrix:
    name: Generate Test Matrix
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_gen_test_matrix.yml
    with:
      lts_config: "l0_gen9;win_l0_gen12"
  linux_self_prod:
    name: Linux (Self build + shared libraries + no-assertions)
    if: github.repository == 'intel/llvm'
    needs: test_matrix
    uses: ./.github/workflows/sycl_linux_build_and_test.yml
    with:
      build_cache_root: "/__w/llvm"
      build_cache_suffix: sprod_shared
      build_artifact_suffix: sprod_shared
      build_configure_extra_args: --shared-libs --no-assertions --hip --cuda --enable-esimd-emulator --cmake-opt="-DSYCL_ENABLE_STACK_PRINTING=ON" --cmake-opt="-DSYCL_LIB_WITH_DEBUG_SYMBOL=ON"
      # Docker image has last nightly pre-installed and added to the PATH
      build_image: "ghcr.io/intel/llvm/sycl_ubuntu2204_nightly:build"
      cc: clang
      cxx: clang++
      lts_matrix: ${{ needs.test_matrix.outputs.lts_lx_matrix }}
      cts_matrix: ${{ needs.test_matrix.outputs.cts_matrix }}
      lts_aws_matrix: ${{ needs.test_matrix.outputs.lts_aws_matrix }}
      merge_ref: ''

  windows_default:
    name: Windows
    needs: test_matrix
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build_and_test.yml
    with:
      lts_matrix: ${{ needs.test_matrix.outputs.lts_wn_matrix }}

  macos_default:
    name: macOS
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_macos_build_and_test.yml
