name: clang-tidy

on:
  workflow_call:

permissions: read-all

jobs:
  run-clang-tidy:
    runs-on: [Linux, build]
    container:
      image: ghcr.io/intel/llvm/sycl_ubuntu2404_nightly:latest
      options: -u 1001:1001
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout: |
            devops/actions
            devops/scripts/should_run_clang-tidy.py
      - name: Register cleanup after job is finished
        uses: ./devops/actions/cleanup

      - name: Check diff
        id: should_run_tidy
        run: |
          echo "Downloading the diff"
          curl -L "${{ github.server_url }}/${{ github.repository }}/pull/${{ github.event.pull_request.number }}.diff" -o pr.diff
          # DEBUG
          pwd
          ls -lR

          if python3 devops/scripts/should_run_clang-tidy.py pr.diff; then
            echo "run=true" >> "$GITHUB_OUTPUT"
          else
            echo "run=false" >> "$GITHUB_OUTPUT"
          fi

      - if: steps.should_run_tidy.outputs.run == 'true'
        uses: ./devops/actions/cached_checkout
        with:
          path: src
          ref: ${{ github.sha }}
          cache_path: "/__w/repo_cache/"

      - name: Get compile_commands.json
        if: steps.should_run_tidy.outputs.run == 'true'
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: compile_commands
      - name: Preprocess compile_commands.json
        if: steps.should_run_tidy.outputs.run == 'true'
        run: |
          # Remove commands containing "-D__INTEL_PREVIEW_BREAKING_CHANGES" to avoid running on the same file twice.
          jq '[ .[] | select(.command | contains("-D__INTEL_PREVIEW_BREAKING_CHANGES") | not) ]' $GITHUB_WORKSPACE/compile_commands.json > $GITHUB_WORKSPACE/compile_commands.temp.json
          mv $GITHUB_WORKSPACE/compile_commands.temp.json $GITHUB_WORKSPACE/compile_commands.json

      - name: Run clang-tidy on modified files
        if: steps.should_run_tidy.outputs.run == 'true'
        # Exeprimental workflow, it won't affect the pre-commit status in case of failure.
        continue-on-error: true
        run: |
          cd "$GITHUB_WORKSPACE/src"
          python3 "$GITHUB_WORKSPACE/src/clang-tools-extra/clang-tidy/tool/clang-tidy-diff.py" \
            -clang-tidy-binary "/opt/sycl/bin/clang-tidy" \
            -p 1 \
            -path "$GITHUB_WORKSPACE" \
            -checks "clang-analyzer-*,bugprone-*,performance-*,-bugprone-std-namespace-modification" \
            < "$GITHUB_WORKSPACE/pr.diff"
