name: SYCL RT

on:
  pull_request:
    branches:
    - sycl
    paths:
    - 'sycl/**'
    - '!sycl/doc/**'

jobs:
  runtime_coverage:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/intel/llvm/sycl_ubuntu2004_nightly:no-drivers
    steps:
    - uses: actions/checkout@v2
      with:
        path: llvm
        fetch-depth: 2
    - name: Experimental build
      run: |
        mkdir exp
        CC=clang CXX=clang++ python3 llvm/buildbot/configure.py \
          -t Debug -o ./exp --cmake-opt="-DSYCL_ENABLE_COVERAGE=ON" --no-werror
        export LD_LIBRARY_PATH=$PWD/exp/lib:$LD_LIBRARY_PATH
        cd exp
        ninja check-sycl-unittests
        cd ..
        python3 ./llvm/llvm/utils/prepare-code-coverage-artifact.py \
          --unified-report llvm-profdata llvm-cov ./exp/tools/sycl/profiles \
          ./exp/report ./exp/lib/libsycl.so
        llvm-cov export --format=lcov \
          --instr-profile=./exp/tools/sycl/profiles/Coverage.profdata \
          ./exp/lib/libsycl.so > exp.lcov
    - name: Get reference commit
      run: |
        cd llvm
        git checkout ${GITHUB_SHA}^1
        cd ..
    - name: Reference build
      run: |
        mkdir ref
        CC=clang CXX=clang++ python3 llvm/buildbot/configure.py \
          -t Debug -o ./ref --cmake-opt="-DSYCL_ENABLE_COVERAGE=ON" --no-werror
        cd exp
        export LD_LIBRARY_PATH=$PWD/ref/lib:$LD_LIBRARY_PATH
        ninja check-sycl-unittests
        cd ..
        python3 ./llvm/llvm/utils/prepare-code-coverage-artifact.py \
          --unified-report llvm-profdata llvm-cov ./exp/tools/sycl/profiles \
          ./ref/report ./ref/lib/libsycl.so
        llvm-cov export --format=lcov \
          --instr-profile=./ref/tools/sycl/profiles/Coverage.profdata \
          ./ref/lib/libsycl.so > ref.lcov
    - name: Upload experimental report
      uses: actions/upload-artifact@v2
      with:
        name: sycl_rt_coverage
        path: exp/report/
    - name: Report difference
      uses: Nef10/lcov-reporter-action@badb09a7ebbd0906681002d671bcd16c819a911d
      with:
        lcov-file: exp.lcov
        lcov-base: ref.lcov
        pr-number: ${{ github.event.pull_request.number }}
