name: SYCL Weekly

on:
  workflow_dispatch:
  schedule:
    # At 00:00 on Sunday.
    - cron: '0 0 * * 0'

permissions: read-all

jobs:
  ubuntu2204_build:
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-linux-build.yml
    secrets: inherit
    with:
      build_cache_root: "/__w/"
      build_configure_extra_args: ''

      toolchain_artifact: sycl_linux_default

  # This job builds SYCL-CTS with -fsycl-use-spirv-backend-for-spirv-gen.
  build-sycl-cts:
    needs: ubuntu2204_build
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: Build SYCL-CTS
      runner: '["Linux", "build"]'
      testing_mode: 'build-only'
      image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
      extra_cmake_args: -DDPCPP_FLAGS=-fsycl-use-spirv-backend-for-spirv-gen
      binaries_artifact: sycl_cts_bin

  run-sycl-cts:
    needs: [ubuntu2204_build, build-sycl-cts]
    permissions:
      contents: write
      packages: read
    if: ${{ !cancelled() && needs.ubuntu2204_build.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SYCL-CTS on OCL CPU PVC w/ LLVM SPIR-V Backend
            runner: '["Linux", "pvc"]'
            image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
            target_devices: opencl:cpu

          - name: SYCL-CTS on L0 GPU PVC w/ LLVM SPIR-V Backend
            runner: '["Linux", "pvc"]'
            image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
            target_devices: level_zero:gpu
    uses: ./.github/workflows/sycl-linux-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      testing_mode: 'run-only'
      image_options: ${{ matrix.image_options }}
      target_devices: ${{ matrix.target_devices }}
      tests_selector: cts
      repo_ref: ${{ github.sha }}
      toolchain_artifact: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact }}
      toolchain_artifact_filename: ${{ needs.ubuntu2204_build.outputs.toolchain_artifact_filename }}
      toolchain_decompress_command: ${{ needs.ubuntu2204_build.outputs.toolchain_decompress_command }}
      binaries_artifact: sycl_cts_bin
