name: Stale Issues

on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  close-issues:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/stale@v9
      with:
        stale-issue-message: 'This issue is stale because it has been open 180 days with no activity. Remove stale label or comment or this will be automatically closed in 30 days.'
        close-issue-message: 'This issue was closed because it has been stalled for 30 days with no activity. Please, re-open if the issue still exists.'
        stale-pr-message: 'This pull request is stale because it has been open 180 days with no activity. Remove stale label or comment or this will be automatically closed in 30 days.'
        close-pr-message: 'This pull request was closed because it has been stalled for 30 days with no activity.'
        days-before-stale: 180
        days-before-close: 30
        exempt-issue-labels: 'confirmed,hip,cuda,enhancement,help wanted,upstream'
        stale-issue-label: 'stale'
        exempt-all-issue-assignees: true
        operations-per-run: 200

