name: Collect aggregated data 
on:
  workflow_call:
# on:
#   schedule:
#     - cron: '0 0 * * *'  # Runs daily at midnight UTC
jobs:
  sycl-aggregate-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      # change to yesterday's date to match artifact names later
      - name: Calculate today's date
        id: date
        run: echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      
      - name: Download artifacts from today's runs
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: sycl-health-check.yml
          name_is_regexp: true
          name: '${{ steps.date.outputs.TODAY }}*'
          path: ./artifacts
          if_no_artifact_found: warn
      
      - name: Process and aggregate data
        run: |
          echo "Processing artifacts from ${{ steps.date.outputs.TODAY }}"
          ls -la ./artifacts/
          echo "{" > aggregated_${{ steps.date.outputs.TODAY }}.json
          first_data=true

          for dir in ./artifacts/*/; do
            for file in "$dir"*.txt; do
              if [[ -f "$file" && $(basename "$file") =~ ^${{ steps.date.outputs.TODAY }}_ ]]; then
                filename=$(basename "$file" .txt)
                load=$(tail -n1 "$file" | xargs)
                
                if [ "$first_data" = true ]; then
                  echo "  \"$filename\": \"$load\"" >> aggregated_${{ steps.date.outputs.TODAY }}.json
                  first_data=false
                else
                  echo "  ,\"$filename\": \"$load\"" >> aggregated_${{ steps.date.outputs.TODAY }}.json
                fi
              fi 
            done
          done

          echo "}" >> aggregated_${{ steps.date.outputs.TODAY }}.json
          
          cat aggregated_${{ steps.date.outputs.TODAY }}.json

      - name: Upload aggregated data artifact
        uses: actions/upload-artifact@v5
        with:
          name: aggregated_${{ steps.date.outputs.TODAY }}_data
          path: aggregated_${{ steps.date.outputs.TODAY }}.json
