name: SYCL Pre Commit on Windows

on:
  pull_request:
    branches:
    - sycl
    - llvmspirv_pulldown
    - sycl-rel-**
    # Do not run builds if changes are only in the following locations
    # Note: benchmark-related paths are the same as in sycl-ur-perf-benchmarking.yml (to run there instead)
    paths-ignore:
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/CODEOWNERS'
    - 'sycl/cts_exclude_filter/**'
    - 'sycl/doc/**'
    - 'sycl/gdb/**'
    - 'clang/docs/**'
    - '**.md'
    - '**.rst'
    - '.github/workflows/sycl-linux-*.yml'
    - '.github/workflows/sycl-precommit-aws.yml'
    - '.github/workflows/sycl-macos-*.yml'
    - '.github/workflows/sycl-nightly.yml'
    - '.github/workflows/sycl-rel-nightly.yml'
    - '.github/workflows/sycl-rel-nightly-launch.yml'
    - '.github/workflows/sycl-trivy.yml'
    - '.github/workflows/sycl-coverity.yml'
    - 'devops/containers/**'
    - 'devops/actions/build_container/**'
    - 'devops/compat_ci_exclude.sycl-rel-6_2'
    - 'unified-runtime/examples/**'
    - 'unified-runtime/scripts/**'
    - 'unified-runtime/test/**'
    - 'unified-runtime/third_party/**'
    - 'unified-runtime/tools/**'
    - 'devops/scripts/benchmarks/**'
    - 'devops/actions/run-tests/benchmark/**'
    - '.github/workflows/sycl-ur-perf-benchmarking.yml'

permissions: read-all

concurrency:
  #  Cancel a currently running workflow from the same PR, branch or tag.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  detect_changes:
    uses: ./.github/workflows/sycl-detect-changes.yml

  build:
    needs: [detect_changes]
    if: |
      success()
      && github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl-windows-build.yml
    with:
      changes: ${{ needs.detect_changes.outputs.filters }}
      e2e_binaries_artifact: sycl_windows_e2ebin

  run_prebuilt_e2e_tests:
    needs: build
    # Continue if build was successful.
    if: |
      !cancelled()
      && needs.build.outputs.build_conclusion == 'success'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Intel GEN12 Graphics with Level Zero
            runner: '["Windows","gen12"]'
          - name: Intel Battlemage Graphics with Level Zero
            runner: '["Windows","bmg"]'
    uses: ./.github/workflows/sycl-windows-run-tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix.runner }}
      target_devices: "level_zero:gpu"
      toolchain_artifact_filename: ${{ needs.build.outputs.toolchain_artifact_filename }}
      testing_mode: run-only
      binaries_artifact: sycl_windows_e2ebin
