name: Collect aggregated data 
on:
  workflow_call:

jobs:
  sycl-aggregate-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      # change to today's date to match artifact names
      - name: Calculate today's date
        id: date
        run: echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      
      - name: Download artifacts from today's runs
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: sycl-health-check.yml
          name_is_regexp: true
          name: '${{ steps.date.outputs.TODAY }}*'
          path: ./artifacts
          if_no_artifact_found: warn
      
      - name: Process and aggregate data
        run: |
          echo "Processing artifacts from ${{ steps.date.outputs.TODAY }}"
          ls -la ./artifacts/
          echo "{" > aggregated_${{ steps.date.outputs.TODAY }}.json

          for dir in ./artifacts/*/; do
            for file in "$dir"*.txt; do
              if [[ -f "$file" && $(basename "$file") == ${TODAY}*.txt ]]; then
                runner=$(basename "$file" | sed 's/^[0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}_//; s/\.txt$//')
                load=$(cat $file) 
                echo $load
                echo $runner
                echo "  \"$runner\": \"$load\"" >> aggregated_${{ steps.date.outputs.TODAY }}.json
              fi 
            done
          done

          echo "}" >> aggregated_${{ steps.date.outputs.TODAY }}.json
          
          cat aggregated_${{ steps.date.outputs.TODAY }}.json