name: SYCL Post Commit

on:
  push:
    branches:
    - sycl
    - sycl-devops-pr/**

  pull_request:
    branches:
    - sycl
    - sycl-devops-pr/**
    paths:
    - .github/workflows/sycl_post_commit.yml
    - .github/workflows/sycl_linux_build.yml
    - .github/workflows/sycl_linux_run_tests.yml
    - ./devops/actions/cleanup
    - ./devops/actions/cached_checkout

jobs:
  build-lin:
    name: Linux (Self build + shared libraries + no-assertions)
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_linux_build.yml
    with:
      build_cache_root: "/__w/llvm"
      build_cache_suffix: sprod_shared
      build_artifact_suffix: sprod_shared
      build_configure_extra_args: --shared-libs --no-assertions --hip --cuda --cmake-opt="-DSYCL_ENABLE_STACK_PRINTING=ON" --cmake-opt="-DSYCL_LIB_WITH_DEBUG_SYMBOL=ON"
      # Docker image has last nightly pre-installed and added to the PATH
      build_image: "ghcr.io/intel/llvm/sycl_ubuntu2204_nightly:build"
      cc: clang
      cxx: clang++
      merge_ref: ''

  e2e-lin:
    needs: [build-lin]
    if: ${{ always() && !cancelled() && needs.build-lin.outputs.build_conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Intel GEN12 Graphics with Level Zero
            runner: '["Linux", "gen12"]'
          - name: Intel Arc A-Series Graphics with Level Zero
            runner: '["Linux", "arc"]'
            extra_lit_opts: --param matrix-xmx8=True --param gpu-intel-dg2=True
    uses: ./.github/workflows/sycl_linux_run_tests.yml
    with:
      name: ${{ matrix.name }}
      runner: ${{ matrix. runner }}
      image: ghcr.io/intel/llvm/ubuntu2204_intel_drivers:latest
      image_options: -u 1001 --device=/dev/dri --privileged --cap-add SYS_ADMIN
      target_devices: ext_oneapi_level_zero:gpu
      reset_gpu: true

      extra_lit_opts: ${{ matrix.extra_lit_opts }}

      ref: ${{ github.sha }}
      merge_ref: ''

      sycl_toolchain_artifact: sycl_linux_sprod_shared
      sycl_toolchain_archive: ${{ needs.build-lin.outputs.artifact_archive_name }}
      sycl_toolchain_decompress_command: ${{ needs.build-lin.outputs.artifact_decompress_command }}

  build-win:
    if: |
      always()
      && (success() || contains(github.event.pull_request.labels.*.name, 'ignore-lint'))
      && github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_windows_build.yml

  e2e-win:
    needs: build-win
    # Continue if build was successful.
    if: |
      always()
      && !cancelled()
      && needs.build-win.outputs.build_conclusion == 'success'
    uses: ./.github/workflows/sycl_windows_run_tests.yml
    with:
      name: Intel GEN12 Graphics with Level Zero
      runner: '["Windows","gen12"]'
      sycl_toolchain_archive: ${{ needs.build-win.outputs.artifact_archive_name }}

  macos_default:
    name: macOS
    if: github.repository == 'intel/llvm'
    uses: ./.github/workflows/sycl_macos_build_and_test.yml
