import platform

config.unsupported_features += ['cuda', 'hip']
config.required_features += ['gpu']

if 'gpu-intel-gen9' in config.available_features and platform.system() == 'Windows':
  config.unsupported = True

# We need this to fix failures when run on OCL.
# The current DG2 postcommit job only runs L0 anyway,
# so there's no difference in coverage.
# We should investigate why OCL fails separately.
if 'gpu-intel-dg2' in config.available_features:
  config.required_features += ['level_zero']
